name: Test package

on: [ push, pull_request ]

jobs:
  build-linux:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Install uv
      uses: astral-sh/setup-uv@v5
      with:
        version: "0.7.8"
        enable-cache: true

    - name: "Set up Python"
      uses: actions/setup-python@v5
      with:
        python-version-file: "pyproject.toml"

    - name: Install the project
      run: uv sync --locked --all-extras --dev

    - name: Run tests with coverage
      run: |
        uv run coverage run -m pytest
        uv run coverage report

    - name: Run Ruff
      run: uv run ruff check --output-format=github --select E4,E7,E9,F
